snippet ifmain
	if __name__ == '__main__':
		${VISUAL}
snippet __init
	def __init__(self):
		pass
snippet __enter
	def __enter__(self):
		return self

	def __exit__(self, exctype, excinst, exctb):
		if exctype, excinst, exctb == None, None, None:
			raise excinst
		pass
