snippet println
	println!("${1}");
snippet dirreadx
	use std::fs;
	use std::path;

	fn main() {
		for entry in fs::read_dir(".").unwrap() {
			let entry: fs::DirEntry = entry.unwrap();
			let path: path::PathBuf = entry.path();
			println!("> {:?}", path);
		}
	}
snippet modtest
	#[cfg(test)]
	mod test {
		use super::*;
		
		#[test]
		fn test_foobar() {
			assert!(true);
		}
	}
snippet atest
	#[test]
	fn ${1:test_foobar}() {
	}

