snippet helpit
	help() {
		echo 'How to use this program...'
		echo ''
		echo 'Usage:'
		echo ''
		echo "  $0 <options>"
	}
snippet ifx
	if [[ ${1:condition} == ${2:value} ]]; then
		${3:echo yes}
	else
		${0:echo no}
	fi
snippet xc
	case "${${1}}" in
	esac
